In [2]:
import pandas as pd

In [3]:
input = '../data/preliminary_contest_data/adFeature.csv'

In [4]:
df = pd.read_csv(input)

In [9]:
df.head()

,aid,advertiserId,campaignId,creativeId,creativeSize,adCategoryId,productId,productType
0,177,8203,76104,1500666,59,282,0,6
1,2050,19441,178687,245165,53,1,0,6
2,1716,5552,158101,1080850,35,27,113,9
3,336,370,4833,119845,22,67,113,9
4,671,45705,352827,660519,42,67,0,4

In [8]:
print(df.shape)  # (173, 8)
print(df.aid.unique().shape)  # 173
print(df.advertiserId.unique().shape)  # 79
print(df.campaignId.unique().shape)  # 138
print(df.creativeId.unique().shape)  #  173
print(df.creativeSize.unique().shape) #15
print(df.adCategoryId.unique().shape) # 40
print(df.productId.unique().shape) # 33
print(df.productType.unique().shape) # 4

(173, 8)
(173,)
(79,)
(138,)
(173,)
(15,)
(40,)
(33,)
(4,)

In [13]:
li = []
with open('../data/preliminary_contest_data/small_user_fature.data', 'r') as f:
    for line in f:
        dic = {}
        sp = line.split("|")
        for s in sp:
            ll = s.split(" ")
            dic[ll[0]] = ll[1:]
        li.append(dic)

In [14]:
df_fea = pd.DataFrame(li)

In [15]:
df_fea.shape

(10000, 24)

In [16]:
df_fea.head()

,LBS,age,appIdAction,appIdInstall,carrier,consumptionAbility,ct,education,gender,house,...,interest5,kw1,kw2,kw3,marriageStatus,os,topic1,topic2,topic3,uid
0,[950],[4],NaN,NaN,[1\n],[2],"[3, 1]",[7],[2],NaN,...,"[52, 100, 72, 131, 116, 11, 71, 12, 8, 113, 28...","[664359, 276966, 734911, 103617, 562294]","[11395, 79112, 115065, 77033, 36176]",NaN,[11],[2],"[9826, 105, 8525, 5488, 7281]","[9708, 5553, 6745, 7477, 7150]",NaN,[26325489]
1,[803],[2],NaN,NaN,[1\n],[1],"[3, 1]",[2],[1],NaN,...,NaN,"[338851, 361151, 542834, 496283, 229952]","[80263, 39618, 53539, 180, 38163]",NaN,"[5, 13]",[1],"[4391, 9140, 5669, 1348, 4388]","[9401, 7724, 1380, 8890, 7153]",NaN,[1184123]
2,[927],[1],NaN,NaN,[3\n],[1],"[3, 1]",[5],[1],NaN,...,"[77, 72, 80, 116, 101, 13, 1, 109, 8, 50, 6, 4...","[746140, 695808, 126355, 771775, 411511]","[105115, 71378, 41409, 74061, 44005]",NaN,"[13, 10]",[1],"[1502, 5488, 9826, 2187, 8088]","[5005, 9154, 2756, 5612, 4209]",NaN,[76072711]
3,[486],[4],NaN,NaN,[3\n],[1],"[1, 3]",[7],[1],NaN,...,"[100, 80, 92, 37, 116, 13, 47, 4, 71, 8, 50, 2...","[283399, 402245, 734509, 654027, 32061]","[74010, 32918, 67882, 116802, 20957]",NaN,[11],"[1, 2]","[1619, 7342, 3064, 9213, 8525]","[810, 2438, 5659, 1844, 9262]",NaN,[63071413]
4,[112],[5],NaN,NaN,[3\n],[2],"[3, 1, 4, 2]",[6],[1],NaN,...,"[131, 116, 13, 8, 6, 132, 42, 9, 59, 18, 58, 6...","[562294, 157603, 589706, 657719, 495672]","[62764, 97803, 89066, 55545, 74061]",NaN,[11],[1],"[477, 9826, 5808, 644, 2747]","[5483, 2199, 5424, 1511, 7751]",NaN,[81294159]

In [19]:
df_fea[df_fea.appIdAction.notna()].shape

(162, 24)